<mat-card class="mat-elevation-z5">
  <form [formGroup]="form" style="width: 35vw;">
    <h2>Demo</h2>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Accont</mat-label>
        <input formControlName="account" matInput placeholder="Please input your accont">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput placeholder="Please input your password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of (countryListObs$ | async)" [value]="country.value">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>local_airport</mat-icon>
      </mat-form-field>
      <!-- Custom form control component -->
      <!-- <app-country-select formControlName="country"></app-country-select> -->
    </p>
    <button [disabled]="!form.valid" mat-raised-button color="primary">Send</button>
  </form>
  <br>
  <h4>FormValue</h4>
  <p>Account: {{form.value.account}}</p>
  <p>Password: {{form.value.password}}</p>
  <p>Country: {{form.value.country}}</p>
</mat-card>



